body {
    background: #ddd;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.625em;
}

nav {
    width: 100%;
    padding: 20px 0px;
}

span.prev {
    float: left;
}

span.next {
    float: right;
}

span.next:after {
    clear: both;
}

p {
    margin-bottom: 1.625em;
}

dd {
    margin-bottom: 1.625em;
}

div.inner {
    width: 70%;
    margin: 0 auto;
}

div.container {
    background: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.wp-caption {
    background: #eee;
    margin-bottom: 1.625em;
    padding: 9px;
}
